*
{
    padding: 0;
    margin: 0;
    font-size: 40px;
}

.box-one
{
    width: 150px;
    height: 125px;
    background-color: #EB5757;
    padding: 10px;
    border: 15px solid #9B51E0;
    margin: 10px;

    box-sizing: border-box;
}

.box-two
{
    background-color: #2D9CDB;
    border: 0 solid #27AE60;
}